In [1]:
#importing libraries
import pandas as pd
import json

**Cleaning Match Result file**

In [2]:
#Opening Match Result file
with open ('t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)

In [3]:
dfMatch = pd.DataFrame(data[0]['matchSummary']) #Converting JSON file into dataframe

In [4]:
dfMatch.rename({'scorecard':'match_id'}, axis =1, inplace = True) #Renaming scorecard column to match id

In [5]:
dfMatch.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [6]:
#Adding a column to determine stage of the match
dfMatch["matchDate"] = dfMatch.matchDate.apply(lambda x:x)
dfMatch["matchDate"] = pd.to_datetime(dfMatch["matchDate"])
dfMatch["stage"] = dfMatch.matchDate.apply(lambda x: "Super 16" if x > pd.to_datetime("2022-10-21") else "Qualifier")
dfMatch.head(5)

,team1,team2,winner,margin,ground,matchDate,match_id,stage
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,2022-10-16,T20I # 1823,Qualifier
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,2022-10-16,T20I # 1825,Qualifier
2,Scotland,West Indies,Scotland,42 runs,Hobart,2022-10-17,T20I # 1826,Qualifier
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,2022-10-17,T20I # 1828,Qualifier
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,2022-10-18,T20I # 1830,Qualifier

In [7]:
#Creating a dictionary to generate match id for each match
matchIdDict = {}
for x, row in dfMatch.iterrows():
    key1 = row["team1"] + " Vs " + row["team2"]
    key2 = row["team2"] + " Vs " + row["team1"]
    matchIdDict[key1] = row["match_id"]
    matchIdDict[key2] = row["match_id"]

In [8]:
#Exporting Match Record File
dfMatch.to_csv("t20_csv_files/MatchRecord.csv", index=False)

**Cleaning Batting Summary File**

In [9]:
#Opening Batting Summary file
with open("t20_json_files/t20_wc_batting_summary.json") as b:
    battingData = json.load(b)

In [10]:
allBattingRecord = []
for rec in battingData:
    allBattingRecord.extend(rec['battingSummary']) #Generating one array for all the batting records

In [11]:
dfBattingRecord = pd.DataFrame(allBattingRecord) #Creating dataframe for all batting record

In [12]:
dfBattingRecord.head() #Checking batting record

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [13]:
dfBattingRecord["out/not_out"] = dfBattingRecord.dismissal.apply(lambda x: "Out" if len(x)>0 else "Not Out")  
#Creating a new column to define whether the batsman was out or not out

In [14]:
dfBattingRecord.drop(columns = ['dismissal'], inplace = True)
#deleting Dismissal column as it is not recquired anymore

In [15]:
dfBattingRecord.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,Out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,Out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,Out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,Out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,Out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,Out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,Out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,Not Out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,Out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,Out

In [16]:
dfBattingRecord["batsmanName"] = dfBattingRecord["batsmanName"].apply(lambda x: x.replace("€",""))
dfBattingRecord["batsmanName"] = dfBattingRecord["batsmanName"].apply(lambda x: x.replace("â",""))

In [17]:
dfBattingRecord.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,Out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,Out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,Out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,Out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,Out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,Out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,Out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,Not Out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,Out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,Out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,Out

In [18]:
#Adding Match ID column from matchDetails table to this
dfBattingRecord["match_id"] = dfBattingRecord["match"].map(matchIdDict)

In [19]:
dfBattingRecord.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,Out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,Out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,Out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,Out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,Out,T20I # 1823

In [20]:
#Exporting Batting Record File
dfBattingRecord.to_csv("t20_csv_files/battingRecordCsv.csv", index=False)

**Cleaning Bowling Data file**

In [21]:
#Opening Bowling Data File
with open ("t20_json_files/t20_wc_bowling_summary.json") as bw:
           bowlingData = json.load(bw)

In [22]:
#Converting All data into Single Array
allBowlingRecord = []
for x in bowlingData:
    allBowlingRecord.extend(x["bowlingSummary"])

In [23]:
#Converting bowling data into dataframe
dfBowlingData = pd.DataFrame(allBowlingRecord)

In [24]:
dfBowlingData.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [25]:
#Adding match_Id column to dataframe
dfBowlingData["match_id"] = dfBowlingData["match"].map(matchIdDict)

In [26]:
#Exporting file to CSV
dfBowlingData.to_csv("t20_csv_files/BowlingDataCSV.csv", index=False)

**Processing player info file**

In [27]:
#Opening player info file
with open ("t20_json_files/t20_wc_player_info.json") as pl:
    playerRecord = json.load(pl)

In [28]:
#Converting Json file into an array
allPlayerInfo = []
allPlayerInfo.extend(playerRecord)

In [29]:
#Converting array into dataframe
dfAllPlayerInfo = pd.DataFrame(allPlayerInfo)
dfAllPlayerInfo.head(20)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendisâ€,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."
10,Dhananjaya de Silva,Sri Lanka,Right hand Bat,Right arm Offbreak,Allrounder,A technically correct top-order batsman from t...
11,Danushka Gunathilaka,Sri Lanka,Left hand Bat,Right arm Offbreak,Allrounder,"A poised, attacking left-handed opener groomed..."
12,Bhanuka Rajapaksa,Sri Lanka,Left hand Bat,Right arm Medium,Top order Batter,"An attacking left-handed batsman, Bhanuka Raja..."
13,Dasun Shanaka(c),Sri Lanka,Right hand Bat,Right arm Medium,Allrounder,"An explosive middle-order batsman, and steady ..."
14,Wanindu Hasaranga de Silva,Sri Lanka,Right hand Bat,Legbreak,Allrounder,"A bruising lower-middle order batsman, and an ..."
15,Chamika Karunaratne,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowling Allrounder,
16,Pramod Madushan,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowler,
17,Dushmantha Chameera,Sri Lanka,Right hand Bat,Right arm Fast,Bowler,"Tall, slim and slippery, Dushmantha Chameera a..."
18,Maheesh Theekshana,Sri Lanka,Right hand Bat,Right arm Offbreak,Bowler,
19,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,

In [30]:
#removing all the special character
dfAllPlayerInfo["name"] = dfAllPlayerInfo["name"].apply(lambda x: x.replace("â",""))
dfAllPlayerInfo["name"] = dfAllPlayerInfo["name"].apply(lambda x: x.replace("€",""))
dfAllPlayerInfo["name"] = dfAllPlayerInfo["name"].apply(lambda x: x.replace('†', ''))
dfAllPlayerInfo["name"] = dfAllPlayerInfo["name"].apply(lambda x: x.replace('\xa0', ''))
dfAllPlayerInfo["name"] = dfAllPlayerInfo["name"].apply(lambda x: x.replace("(c)",""))

In [31]:
#exporting file to CSV
dfAllPlayerInfo.to_csv("t20_csv_files/playerInfoNoImage.csv", index=False)